p {
    font-family: "Futura", "Arial", "Helvetica";
    font-size: 24;
    font-weight: bold;
}

#content {
    background-color: aquamarine;
    width: 10%;
    height: 10%;
    text-align: center;
    padding: 1%;
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    
}

body {
  align-items: center;
}
