p {
    font-family: "Futura", "Arial", "Helvetica";
    font-size: 24;
    font-weight: bold;
}

#content {
    background-color: aquamarine;
    width: 10%;
    height: 10%;
    margin: 50%;
    text-align: center;
    padding: 1%;
}
