p {
    font-family: "Futura", "Arial", "Helvetica";
    font-size: 24;
    font-weight: bold;
}

#header {
    background-color: #bbffbb;
    width: 100vw;
    height: 5vh;
    position: fixed;
    margin-left: 0;
    top: 0;
}

#footer {
    width: 100vw;
    height: 25vh;
    background-color: #555;
    position: fixed;
    bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.logo-link {
    width: 32px;
    height: 32px;
    margin: 0.5%;
}

.site-nav-link-footer {
    color: whitesmoke;
    font: 1em Futura bold;
    
}

.header-navlink {
    float: right;
    font-family: "Futura";
    font-weight: bold;
    margin: 1em;
}
#header-logo {
    width: 4em;
    height: 4em;
    position: fixed;
    float: left;
    padding: 0.1em;
    
}

#about-heading {
    clear: both;
    position: fixed;
    background-color: #88ff88;
    width: 100vw;
    height: 10vh;
    top: 5vh;

    }

#about-body {
    background-color: #bbffbb;
    position: fixed;
    width: 100vw;
    height: 20vh;
    top: 15vh;
}

#contact-header {
    background-color: #88ff88;
/*    height: 10vh;*/
    padding: 1em;
}

#contact-body {
    background-color: #bbffbb;
    position: fixed;
    width: 100vw;
    height: 95vh;
    top: 5vh;
}

#contact-sect-div {
    font: 1.25em Futura bold;
    color: #050;
}

#footer-insite-links {
/*    Just in case */
}

h1 {
    font: 3.5em Futura;
    font-weight: bold;
    text-align: center;
}
h2 {
    font: 2.5em Futura bold;
    text-align: center;
}

a {
    color: darkgreen;
}

a:visited {
    color: seagreen;
}

a:hover {
    color: lightseagreen;
}

a:active {
    color: mediumseagreen;
}

a:visited.site-nav-link-footer {
    color: lightgrey;
}
