p {
    font-family: "Futura", "Arial", "Helvetica";
    font-size: 24;
    font-weight: bold;
}

#header {
    background-color: palegreen;
    width: 100%;
    height: 5%;
    position: fixed;
    top: 0;
    margin-left: 0;
    margin-right: 0;

}

.logo-link {
    width: 32px;
    height: 32px;
    margin: 0.5%;
    float: right;
}

navlink {
    float: right;
    font: "Futura" 1em bold;
}

h1 {
    font-family: "Futura";
    font-size: 2em;
    font-weight: bold;
}