p {
    font-family: "Futura", "Arial", "Helvetica";
    font-size: 24;
    font-weight: bold;
}

#main-video {
    position: fixed;
    width: 65vw;
    left: 50%;
    top: 5%;
    height: auto;
    transform: translate(-50%);
}

#main-body {
    background-color: #eeffee;
}

#header {
    background-color: #bbffbb;
    width: 100vw;
    height: 5%;
    position: fixed;
    margin-left: 0;
    top: 0;
}

#footer {
    width: 100vw;
    height: 25%;
    background-color: #555;
    position: fixed;
    bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.logo-link {
    width: 32px;
    height: 32px;
    margin: 0.5%;
}

.site-nav-link-footer {
    color: whitesmoke;
    font: 1em Futura;
    font-family: "Futura", "Arial", "Helvetica";
    font-weight: bold;
    
}

.header-navlink {
    float: right;
    font-family: "Futura", "Arial", "Helvetica";
    font-weight: bold;
    margin: 1em;
}

.sm-link {
    list-style-type: none;
}

#link-tiktok {
    transform: translate(-50%);
}

#link-insta {
    transform: translate(-175%);
}

#link-email {
    transform: translate(100%);
}

.sm-image {
    position: fixed;
    bottom: 1em;
    left: 50%;
    height: 3em;
    width: 3em;
}

#header-logo {
    width: 2.5em;
    height: 2.5em;
    position: fixed;
    float: left;
    padding: 0.1em;
    
}

#about-heading {
    clear: both;
    position: fixed;
    background-color: #88ff88;
    width: 100vw;
    height: 10%;
        top: 5%;

    }

#about-body {
    background-color: #bbffbb;
    position: fixed;
    width: 100vw;
    height: 20%;
    top: 15%;
}

#contact-header {
    background-color: #88ff88;
    padding: 1em;
}

#contact-body {
    background-color: #bbffbb;
    position: fixed;
    width: 100vw;
    height: 95vh;
    top: 5vh;
}

#contact-sect-div {
    font: 1.25em Futura bold;
    font-family: "Futura", "Arial", "Helvetica";
    color: #050;
}

h1 {
    font: 3.5em Futura;
    font-family: "Futura", "Arial", "Helvetica";
    font-weight: bold;
    text-align: center;
}
h2 {
    font: 2.5em Futura;
    font-family: "Futura", "Arial", "Helvetica";
    font-weight: bold;
    text-align: center;
}

a {
    color: darkgreen;
}

#title {
    position: fixed;
    color: darkgreen;
    left: 50%;
    transform: translate(-50%, -50%);
    font: 1.5em Futura;
    font-weight: bold;
}

a:visited {
    color: seagreen;
}

a:hover {
    color: lightseagreen;
}

a:active {
    color: mediumseagreen;
}

a:visited.site-nav-link-footer {
    color: lightgrey;
}

button {
    position: fixed;
    top: 300px;
}
